@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

main {
  background-color: #f0f0f0;
}
#button {
  background: #611087;
}
.cards-size {
  width: 100%;
}
.purple1 {
  background-color: #611087;
}

.text-purp {
  color: #611087;
}
.head {
  width: 100%;
  height: 4.3em;
}

.profil {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 355px;
  top: 35px;
}
